


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    display: grid;
    grid-template-columns: 1fr 2fr 0.5fr;
    align-items: center;
   
    
}

header h1 {
    font-size: 2.5rem;
   align-self: flex-end;
    
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
nav a,.header-div a{
    color:#fff;
    text-decoration: none;
    font-size: 1.5rem;

}
.header-div {
    background-color: black;
    width: 100%;
    height: 150%;
    display: flex;
    flex-direction:row;
align-items: center;
justify-content: center;
gap:4rem;


}
.header-div a{
    font-size: 1rem;
}
.header-div a:hover{
   
   
    color: rgb(53, 51, 51);
}

nav a:last-child{
    margin-right: 20px;
}
nav a:hover{
    color: #7c7878;
}
main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 2rem;
}

.product {
    background-color: #fff;
    padding: 1rem;
    margin: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 15%;
   max-height: 20%;
   display: flex;
   flex-direction: column;
   
   gap:10px;
   
}
.img-container{
    width: 100%;
}
.product img {
    max-width: 80%;
    height: auto;
}

.product h2 {
    font-size: 1.5rem;
    margin: 10px 0;
}

.product p {
    font-size: 1rem;
    margin: 5px 0;
}

.product button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.product button:hover {
    background-color: #555;
}

.cart {
    background-color: #fff;
    padding: 1rem;
    margin: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.cart h2 {
    font-size: 1.5rem;
    margin: 10px 0;
}

.cart ul {
    list-style: none;
    padding: 0;
}

.cart ul li {
    font-size: 1rem;
    margin: 5px 0;
}

.cart p {
    font-size: 1.2rem;
    margin: 10px 0;
}

.show-icons{
    display: none;
}
@media (max-width: 768px) {
    main {
        flex-direction: column;
    }

    .product {
        width: 100%;
    }
    header{
    width: 100%;
    height: 100px;
   
    }
    header h1{
        font-size: 20px;
        white-space: nowrap;
       display: flex;
       flex-direction: row;
       justify-content: space-around;
       align-items: center;
    }
    .header-div,nav{
        display: none;

    }
    .show-icons{
        display: inline;
        background-color: transparent;


        
    }
}

